.contact {
  min-height: 70vh;

  &__content {
    padding-inline: var(--sp-sm);

    &>p {
      font-size: var(--fs-base);
      line-height: 1.75;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.25em 0;
    max-width: 480px;
    padding-inline: 1em;
    margin-top: var(--sp-2xl);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    color: var(--c-text-sub);

    & label {
      font-size: var(--fs-sm);
    }

    & input,
    & textarea {
      border: none;
      outline: none;
      resize: none;
      font: inherit;
      border-radius: 0;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;

      width: 100%;
      padding: var(--sp-xs);
      color: var(--c-text);
      font-size: var(--fs-base);
      letter-spacing: var(--ls-base);
      border-bottom: var(--border);
      transition: border-color var(--t);

      /* iOS Safari対応 */
      font-size: 16px;

      &:focus {
        border-bottom-color: var(--c-accent);
      }
    }


    & input {
      line-height: 1.4;
    }

    & textarea {
      line-height: 1.6;
    }
  }

}